<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <h3>Enter Your Mail</h3>
<form onsubmit="localStorage.setItem('username', document.getElementById('username').value)" action="/" method="post">
    <input type="text" name="username" id="username">
    <button type="submit">Login</button>
</form>
</body>
</html>